In [23]:
import numpy as np
import pandas as pd

In [24]:
table_data = """
1
Apartment
Male
Married
C0
2
House
Male
Single
C1
3
House
Female
Married
C1
4
Apartment
Female
Single
C0
5
Apartment
Male
Married
C0
6
Hostel
Male
Single
C1
7
House
Female
Married
C1
8
Apartment
Female
Single
C0
9
Apartment
Male
Married
C0
10
House
Male
Single
C1
11
Hostel
Female
Married
C1
12
Hostel
Female
Single
C0
13
House
Male
Married
C0
14
Hostel
Male
Single
C1
15
Hostel
Female
Married
C1
16
Apartment
Female
Single
C0
""".split()

In [25]:
table_data = """
1
Apartment
Male
Married
C0
2
House
Male
Single
C1
3
House
Female
Married
C1
4
Apartment
Female
Single
C0
5
Apartment
Male
Married
C0
6
Hostel
Male
Single
C1
7
House
Female
Married
C1
8
Apartment
Female
Single
C0
9
Apartment
Male
Married
C0
10
House
Male
Single
C1
11
Hostel
Female
Married
C1
12
Hostel
Female
Single
C0
13
House
Male
Married
C0
14
Hostel
Male
Single
C1
15
Hostel
Female
Married
C1
16
Apartment
Female
Single
C0
""".split()

In [27]:
df = pd.DataFrame(
    np.array(table_data).reshape(16, 5),
    columns=[
        "Customer ID",
        "Housing Type",
        "Gender",
        "Marital Status",
        "Class",
    ]
)

In [29]:
df.to_csv("customer.csv")